
<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Websocket</title>

  <link rel="stylesheet" href="/static/styles/style.css">
  </head>
  <body>

    <input type="text" id="messageInput" placeholder="Enter message">
    <button onclick="sendMessage()">Send</button>
    <div id="messages"></div>    
    
  </body>
  <script src="/static/scripts/script.js"></script>
</html>